{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
<div class="login-page">
    <div class="form">
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="text" name ="username" placeholder="username"/>
        <input type="password" name ="password" placeholder="password"/>
        <button>login</button>
        <p class="message">Not registered? <a href="register/">Create an account</a></p>
      </form>
    </div>
  </div>

