{% extends 'base.html'%}
{% load static %}

{% block content %}

<section id="clothing" class="my-5 overflow-hidden">
    <div class="container pb-5">

      <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
        <h2 class="display-3 fw-normal">Pet Clothing</h2>
      </div>

      <div class="products-carousel swiper">
        <div class="swiper-wrapper" style="display: flex; flex-wrap: nowrap;">
          {% for product in products %}
          {% if product.category.name == 'clothes' %}
            {% if product.is_sale %}
              <div class="swiper-slide" style="flex: 0 0 auto; width: 300px;">
                <div class="card position-relative">
                  <a href="{% url 'product' product.id %}"><img src="{{product.image.url }}" class="img-fluid rounded-4" alt="image"></a>
                  <div class="card-body p-0">
                    <a href="single-product.html">
                      <h3 class="card-title pt-4 m-0">{{product.name}}</h3>
                    </a>
          
                    <div class="card-text">
                      <span class="rating secondary-font">
                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                        5.0</span>
          
                      <h3 class="secondary-font text-primary"><strike>{{product.price}} DT</strike></h3>
                      <br/> {{product.description}}
                      <div class="d-flex flex-wrap mt-3">
                        <a href="{% url 'product' product.id %}" class="btn-cart me-3 px-4 pt-3 pb-3">
                          <h5 class="text-uppercase m-0">View Product</h5>
                        </a>
                        <a href="#" class="btn-wishlist px-4 pt-3 ">
                          <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% else %}
              <div class="swiper-slide" style="flex: 0 0 auto; width: 300px;">
                <div class="card position-relative">
                  <a href="{% url 'product' product.id %}"><img src="{{product.image.url }}" class="img-fluid rounded-4" alt="image"></a>
                  <div class="card-body p-0">
                    <a href="single-product.html">
                      <h3 class="card-title pt-4 m-0">{{product.name}}</h3>
                    </a>
          
                    <div class="card-text">
                      <span class="rating secondary-font">
                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                        <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                        5.0</span>
          
                      <h3 class="secondary-font text-primary">{{product.price}} DT</h3>
                      <br/> {{product.description}}
                      <div class="d-flex flex-wrap mt-3">
                        <a href="{% url 'product' product.id %}" class="btn-cart me-3 px-4 pt-3 pb-3">
                          <h5 class="text-uppercase m-0">View Product</h5>
                        </a>
                        <a href="#" class="btn-wishlist px-4 pt-3 ">
                          <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
      
      <!-- / products-carousel -->


    </div>
  </section>

  <section id="foodies" class="my-5">
    <div class="container my-5 py-5">

      <div class="section-header d-md-flex justify-content-between align-items-center">
        <h2 class="display-3 fw-normal">Pet Foodies</h2>
      </div>

      <div class="isotope-container row">
        {% for product in products %}
        {% if product.category.name == 'food' %}
          {% if product.is_sale %}
            <div class="item cat col-md-4 col-lg-3 my-4">
              <div class="card position-relative">
                <a href="{% url 'product' product.id %}"><img src="{{product.image.url }}" class="img-fluid rounded-4" alt="image"></a>
                <div class="card-body p-0">
                  <a href="single-product.html">
                    <h3 class="card-title pt-4 m-0">{{product.name}}</h3>
                  </a>

                  <div class="card-text">
                    <span class="rating secondary-font">
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      5.0</span>

                    <h3 class="secondary-font text-primary"><strike>{{product.price}} DT</strike></h3>
                    <br/> {{product.description}}

                    <div class="d-flex flex-wrap mt-3">
                      <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                        <h5 class="text-uppercase m-0">Add to Cart</h5>
                      </a>
                      <a href="#" class="btn-wishlist px-4 pt-3 ">
                        <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                      </a>
                    </div>


                  </div>

                </div>
              </div>
            </div>

            {% else %}
            <div class="item cat col-md-4 col-lg-3 my-4">
              <div class="card position-relative">
                <a href="{% url 'product' product.id %}"><img src="{{product.image.url }}" class="img-fluid rounded-4" alt="image"></a>
                <div class="card-body p-0">
                  <a href="single-product.html">
                    <h3 class="card-title pt-4 m-0">{{product.name}}</h3>
                  </a>

                  <div class="card-text">
                    <span class="rating secondary-font">
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                      5.0</span>

                    <h3 class="secondary-font text-primary">{{product.price}} DT</h3>
                    <br/> {{.description}}

                    <div class="d-flex flex-wrap mt-3">
                      <a href="#" class="btn-cart me-3 px-4 pt-3 pb-3">
                        <h5 class="text-uppercase m-0">Add to Cart</h5>
                      </a>
                      <a href="#" class="btn-wishlist px-4 pt-3 ">
                        <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                      </a>
                    </div>


                  </div>

                </div>
              </div>
            </div>
         {% endif %}
         {% endif %}
        {% endfor %}

        

      </div>


    </div>
  </section>

{% endblock %}