

{% block content %}
<style>
    /* CSS styles */
    .login-page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form {
        background: #ffffff;
        max-width: 360px;
        width: 100%;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .form h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    .form .form-group {
        margin-bottom: 20px;
    }

    .form label {
        font-weight: bold;
    }

    .form input[type="password"],
    .form button {
        width: 100%;
        padding: 15px;
        border: 1px solid #936a4f;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .form button {
        background-color: #b38c00;
        color: #fff;
        cursor: pointer;
    }

    .form button:hover {
        background-color: #b38000;
    }

    .form button:focus {
        outline: none;
    }
    body {
        background:  #e5d8d0; /* fallback for old browsers */
        background: rgb(209, 184, 165);
        background: linear-gradient(90deg, rgba(209, 184, 165, 1) 0%, rgba(187, 156, 133, 1) 50%);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;      
}
</style>

<div class="login-page">
    <div class="form">
        <h2>Update Password</h2>
        <form method="POST" action="{% url 'update_password' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_old_password">Old Password:</label>
                <input type="password" name="old_password" id="id_old_password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="id_new_password1">New Password:</label>
                <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="id_new_password2">Confirm New Password:</label>
                <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Password</button>
        </form>
    </div>
</div>
{% endblock %}





